.idea
frontend/node_modules
frontend/dist
bin
.env
./.task
settings.json
library.json
downloads.DS_Store
downloads
.task
.DS_Store
sources
/frontend/bindings
./frontend/package-lock.json
./package.json
./package-lock.json
./node_modules
./frontend/.vscode
node_modules
go.work
go.work.sum
proxysettings.json
frontend/src/cache
/cache
